{% extends "base_layout.html" %}

{% block title %}MicroK8s vs k3s vs Minikube{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1wWos3iWMTCqDbxZBDuSVqvY6ZwYux-goCrX0L0E5Weo/edit{% endblock %}

{% block content %}

<section class="p-strip--suru-topped">
  <div class="row u-equal-height">
    <div class="col-7">
      <h1>MicroK8s vs K3s vs minikube</h1>
      <p>Lightweight Kubernetes distributions are becoming increasingly popular for local development, edge/IoT container management and self-contained application deployments. If you are looking to run Kubernetes on devices lighter in resources, have a look at the table below. MicroK8s stands out for its simplicity, robustness and completeness.</p> 
      <a class="p-button--positive js-invoke-modal" href="/compare/contact-us">Get in touch</a>
    </div>
    <div class="col-5 u-align--center u-vertically-center u-hide--small u-hide--medium">
      <!-- This image needs to be updated -->
      <img src="https://assets.ubuntu.com/v1/990738e2-kubernetes-cloud.svg" alt="" width="263" height="150" loading="lazy" />
    </div>
  </div>
</section>
<section class="p-strip--light">
  <div class="u-fixed-width">
    <table class="p-table--mobile-card">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th class="u-align--center">MicroK8s</th>
          <th class="u-align--center">K3s</th>
          <th class="u-align--center">minikube</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td aria-label="Category">CNCF certified</td>
          <td aria-label="MicroK8s" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
          <td aria-label="K3s" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
          <td aria-label="minikube" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
        </tr>
        <tr>
          <td aria-label="Category">Vanilla Kubernetes</td>
          <td aria-label="MicroK8s" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
          <td aria-label="K3s" class="u-align--center">
            <span aria-label="No">&ndash;</span>
          </td>
          <td aria-label="minikube" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
        </tr>
        <tr>
          <td aria-label="Category">Architecture support</td>
          <td aria-label="MicroK8s" class="u-align--center"> x86, ARM64, s390x </td>
          <td aria-label="K3s" class="u-align--center"> x86, ARM64, ARMh </td>
          <td aria-label="minikube" class="u-align--center"> x86, ARM64, ARMv7, ppc64,  s390x </td>
        </tr>
        <tr>
          <td aria-label="Category">Enterprise support</td>
          <td aria-label="MicroK8s" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
          <td aria-label="K3s"class="u-align--center" >
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
          <td aria-label="minikube" class="u-align--center">
            <span aria-label="No">&ndash;</span>
          </td>
        </tr>
        <tr>
          <td aria-label="Category">Single-node support</td>
          <td aria-label="MicroK8s" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
          <td aria-label="K3s"class="u-align--center" >
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
          <td aria-label="minikube" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
        </tr>
        <tr>
          <td aria-label="Category">Multi-node cluster support</td>
          <td aria-label="MicroK8s" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
          <td aria-label="K3s" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
          <td aria-label="minikube" class="u-align--center">
            <span aria-label="No">&ndash;</span>
          </td>
        </tr>
        <tr>
          <td aria-label="Category">Automatic high availability</td>
          <td aria-label="MicroK8s" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
          <td aria-label="K3s" class="u-align--center">
            <span aria-label="No">&ndash;</span>
          </td>
          <td aria-label="minikube" class="u-align--center">
            <span aria-label="No">&ndash;</span>
          </td>
        </tr>
        <tr>
          <td aria-label="Category">Automatic updates</td>
          <td aria-label="MicroK8s" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
          <td aria-label="K3s" class="u-align--center">
            <span aria-label="No">&ndash;</span>
          </td>
          <td aria-label="minikube" class="u-align--center">
            <span aria-label="No">&ndash;</span>
          </td>
        </tr>
        <tr>
          <td aria-label="Category">Memory requirements</td>
          <td aria-label="MicroK8s" class="u-align--center"> 540 MB </td>
          <td aria-label="K3s" class="u-align--center"> 512 MB </td>
          <td aria-label="minikube" class="u-align--center"> 2 GB </td>
        </tr>
        <tr>
          <td aria-label="Category">Add-on functionality</td>
          <td aria-label="MicroK8s" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
          <td aria-label="K3s" class="u-align--center">
            <span aria-label="No">&ndash;</span>
          </td>
          <td aria-label="minikube" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
        </tr>
        <tr>
          <td aria-label="Category" colspan="4">Container runtime
            <table>
              <tr>
                <td>containerd</td>
                <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes"></td>
                <td class="u-align--center"><span aria-label="No">&ndash;</span></td>
                <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes"></td>
              </tr>
              <tr>
                <td>kata</td>
                <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes"></td>
                <td class="u-align--center"><span aria-label="No">&ndash;</span></td>
                <td class="u-align--center"><span aria-label="No">&ndash;</span></td>
              </tr>
              <tr>
                <td>CRI-O</td>
                <td class="u-align--center"><span aria-label="No">&ndash;</span></td>
                <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes"></td>
                <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes"></td>
              </tr>
              <tr>
                <td>Docker</td>
                <td class="u-align--center"><span aria-label="No">&ndash;</span></td>
                <td class="u-align--center"><span aria-label="No">&ndash;</span></td>
                <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td aria-label="Category">Networking</td>
          <td aria-label="MicroK8s" class="u-align--center">Calico, Cilium, CoreDNS, Traefik, NGINX, Ambassador, Multus, MetalLb</td>
          <td aria-label="K3s" class="u-align--center">Flannel, CoreDNS, Traefik, Canal, Klipper</td>
          <td aria-label="minikube" class="u-align--center">Calico, Cilium, Flannel, ingress, DNS, Kindnet</td>
        </tr>
        <tr>
          <td aria-label="Category">Storage</td>
          <td aria-label="MicroK8s" class="u-align--center">Hostpath storage, OpenEBS, Ceph</td>
          <td aria-label="K3s" class="u-align--center">Hostpath storage, Longhorn</td>
          <td aria-label="minikube" class="u-align--center">Hostpath storage</td>
        </tr>
        <tr>
          <td aria-label="Category">GPU acceleration</td>
          <td aria-label="MicroK8s" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
          <td aria-label="K3s" class="u-align--center">
            <span aria-label="No">&ndash;</span>
          </td>
          <td aria-label="minikube" class="u-align--center">
            <img src="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg" alt="Yes">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="p-strip">
    <div class="row u-equal-height">
      <div class="col-7">
        <h1>Why MicroK8s?</h1>
        <p>Selecting your lightweight Kubernetes distribution depends on the use case, the resource constraints and your familiarity with the Kubernetes internals.</p> 
        <p>MicroK8s is the easiest way to consume Kubernetes as it abstracts away much of the complexity of managing the lifecycle of clusters. Its low-touch UX automates or simplifies operations such as deployment, clustering, and enabling of auxiliary services required for a production-grade K8s environment. Compared to other lightweight distributions MicroK8s is the only option that provides a single-command installation, automatic high availability clustering and automatic updates.</p>
        <p>Robustness is a key primitive, particularly for production environments. Transactional over-the-air patching and security fixes, provided through the snap package as well as self-healing high availability of the Kubernetes control plane services, give MicroK8s the edge for mission-critical workload support.</p>
      </div>
      <div class="col-5 u-align--center u-vertically-center u-hide--small u-hide--medium">
        <img src="https://assets.ubuntu.com/v1/990738e2-kubernetes-cloud.svg" alt="" width="263" height="150" loading="lazy" />
      </div>
    </div>
  </section>
<section class="p-strip--light">
  <div class="u-fixed-width">
    <h3 class="u-sv2">Kubernetes resources</h3>
  </div>
  <div class="row p-divider">
    <div class="col-4 p-heading-icon p-divider__block">
      <div class="p-heading-icon__header">
        <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/5edefef9-Datasheet.svg" alt="">
        <h4 class="p-heading-icon__title">Data sheet</h4>
      </div>
      <p class="p-heading--4"><a href="https://assets.ubuntu.com/v1/b5f9ae49-Enterprise_Kubernetes_Datasheet.pdf">Kubernetes for the enterprise</a></p>
    </div>
    <div class="col-4 p-divider__block">
      <div class="p-heading-icon__header">
        <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/6e184942-Webinar.svg" alt="">
        <h4>Webinars on demand</h4>
      </div>
      <p class="p-heading--4"><a href="https://www.brighttalk.com/webcast/6793/435999/how-to-accelerate-kubernetes-deployment-in-the-enterprise">How to accelerate Kubernetes deployment in the enterprise</a></p>
    </div>

    <div class="col-4 p-divider__block">
      <div class="p-heading-icon__header">
        <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/b061c401-White+paper.svg" alt="">
        <h4>Whitepaper</h4>
      </div>
      <p class="p-heading--4"><a href="/engage/atresmedia-charmed-kubernetes-case-study">Atresmedia dominates Spain’s OTT media market with Charmed Kubernetes</a></p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height">
    <div class="col-6 u-align--center u-vertically-center u-hide--small u-hide--medium">
      <img src="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg" alt="" width="250" height="178" loading="lazy">
    </div>
    <div class="col-6">
      <h2>Need help with K8s?</h2>
      <p>Let our expert cloud team help with:</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Project evaluation</li>
        <li class="p-list__item is-ticked">Requirements and feature parity</li>
        <li class="p-list__item is-ticked">Pricing and TCO assessment</li>
        <li class="p-list__item is-ticked">Migration and embedding strategy</li>
      </ul>
      <p>
        <a href="https://ubuntu.com/kubernetes#get-in-touch" class="p-button--positive">Contact us</a>
      <p>
    </div>
  </div>
</section>


{% endblock %}
