<li class="p-stepped-list__item">
  <h3 class="p-stepped-list__title">Check the status</h3>
  <div class="p-code-copyable u-stepped-list-margin">
    <input class="p-code-copyable__input" aria-label="sudo microk8s status --wait-ready" value="sudo microk8s status --wait-ready" readonly="readonly">
    <button class="p-code-copyable__action">Copy to clipboard</button>
  </div>
</li>

<li class="p-stepped-list__item">
  <h3 class="p-stepped-list__title">Turn on the services you want</h3>
  <p class="p-stepped-list__content u-stepped-list-margin">For example:</p>
  <div class="p-code-copyable u-stepped-list-margin">
    <input class="p-code-copyable__input" aria-label="microk8s enable dashboard registry dns istio" value="microk8s enable dashboard registry dns istio" readonly="readonly">
    <button class="p-code-copyable__action">Copy to clipboard</button>
  </div>
  <p class="p-stepped-list__content u-stepped-list-margin">
    Similarly, <code>microk8s disable</code> turns off a service. Try <code>microk8s enable --help</code> for a list of available services built-in.
  </p>
</li>
<li class="p-stepped-list__item">
  <h3 class="p-stepped-list__title">Start using Kubernetes</h3>
  <div class="p-code-copyable u-stepped-list-margin">
    <input class="p-code-copyable__input" aria-label="microk8s kubectl get all --all-namespaces" value="microk8s kubectl get all --all-namespaces" readonly="readonly">
    <button class="p-code-copyable__action">Copy to clipboard</button>
  </div>
</li>

<li class="p-stepped-list__item">
  <h3 class="p-stepped-list__title">Access the Kubernetes dashboard</h3>
  <p class="p-stepped-list__content u-stepped-list-margin">
    <a class="p-link--external" href="https://ubuntu.com/tutorials/install-a-local-kubernetes-with-microk8s#4-accessing-the-kubernetes-and-grafana-dashboards">Follow the detailed tutorial</a>
  </p>
</li>
