{% extends "base_layout.html" %}

{% block title %}MicroK8s for ISV Campaign{% endblock %}

{% block meta_description %}MicroK8s is the easiest way to leverage the benefits of a modern, Kubernetes-based architecture with simple customer adoption for cloud native software development companies.{% endblock meta_description %}

{% block meta_copydoc %}https://docs.google.com/document/d/1pcUx3oJ4ZcgRG6nGv6kzHSf9tFZZnaTK1jzecKFZxGo/edit#{% endblock %}

{% block content %}

<section class="p-strip--suru-topped">
  <div class="row u-equal-height">
    <div class="col-8">
      <h1>MicroK8s for software developers</h1>
      <p class="p-heading--3">We deliver containers that you develop</p>
      <a class="p-button--positive" href="/isv/contact-us">Get in touch</a>
    </div>
    <div class="col-4 u-hide--small u-hide--medium">
      <img src="https://assets.ubuntu.com/v1/f145e15a-K8s_Multi-cloud_solid.svg" alt="" width="300" height="178">
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <p>Whilst Kubernetes as a platform has numerous benefits, the learning curve for enterprises is steep. This is a barrier to adoption, impacting ISVs that look at containers as an efficient delivery mechanism for their software.</p>
    <p>As a software vendor, embedding MicroK8s is the easiest way to leverage the benefits of a modern, Kubernetes-based architecture with simple customer adoption, removing infrastructure dependencies and ensuring software will run anywhere predictably.</p>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h2>Better customer experiences</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <p>MicroK8s is lightweight, conformant Kubernetes, with sensible defaults that 'just work'. A quick install, easy upgrades and great security make it perfect for micro clouds and edge computing.</p>
      <h3>Easier deployments</h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Faster, appliance-style deployment of infra and apps</li>
        <li class="p-list__item is-ticked">Reference platform setup simplifies ongoing maintenance</li>
        <li class="p-list__item is-ticked">Cloud, Kubernetes, edge, infrastructure</li>
      </ul>
    </div>
    <div class="col-6 u-hide--small u-hide--medium u-vertically-center u-align--center">
      <img src="https://assets.ubuntu.com/v1/6c0471ea-Kubernetes-Easier+deployments.svg" alt="" width="400" height="229">
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>
  <div class="row">
    <div class="col-6 u-hide--small u-hide--medium u-vertically-center u-align--center">
      <img src="https://assets.ubuntu.com/v1/af9d1822-Kubernetes-dedicated+platforms.svg" alt="" width="400" height="229">
    </div>
    <div class="col-6">
      <h3>Dedicated platforms improve operations</h3>
      <p>MicroK8s is the easiest way to consume Kubernetes as it abstracts away much of the complexity of managing the lifecycle of clusters. Its low-touch UX automates or simplifies operations such as deployment, clustering, and enabling of auxiliary services required for a production-grade K8s environment.</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Full control over resources and workloads</li>
        <li class="p-list__item is-ticked">No noisy neighbours</li>
      </ul>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>Build on MicroK8s, the lightweight Kubernetes</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>Exceptional</h3>
      <p>MicroK8s is a zero-ops Kubernetes for delivering your software. Suitable for clouds, edge and IoT clusters, #MicroK8s offers a self-healing high availability feature for enterprise-grade deployments.</p>
      <h3></h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Fire-and-forget K8s with transactional over-the-air updates</li>
        <li class="p-list__item is-ticked"><a href="https://microk8s.io/high-availability">Self-healing high availability</a></li>
        <li class="p-list__item is-ticked">GPU acceleration and other add-ons</li>
      </ul>
    </div>
    <div class="col-6 u-hide--small u-hide--medium u-vertically-center u-align--center">
      <img src="https://assets.ubuntu.com/v1/d942fae6-Kubernetes-over-air-updates.svg" alt="" width="500" height="131">
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>
  <div class="row">
    <div class="col-6 u-hide--small u-hide--medium u-vertically-center u-align--center">
      <img src="https://assets.ubuntu.com/v1/f89832c6-Kubernetes-CNCF+compliant.svg" alt="" width="400" height="229">
    </div>
    <div class="col-6">
      <h3>As you want it</h3>
      <p>With MicroK8s you get a complete, CNCF-compliant Kubernetes environment and all the services you need to run your OCI containers at scale, such as networking &amp; load balancing, storage, service mesh, observability, GPU &amp; FPGA acceleration, multi-cluster management and more &ndash; unique among lightweight Kubernetes distributions.</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">CNCF-conformant</li>
        <li class="p-list__item is-ticked">Platform independent &amp; OCI compliant</li>
        <li class="p-list__item is-ticked">Hardened for regulatory compliances</li>
      </ul>

    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-6 u-hide--small u-hide--medium u-align--center">
      <img src="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg" alt="" width="250" height="178" loading="lazy">
    </div>
    <div class="col-6">
      <h2>Ready to ship more?</h2>
      <p><a href="/contact-us" class="p-button--positive">Get in touch</a></p>
    </div>
  </div>
</section>

{% endblock content %}
