<section class="p-section--shallow">
  <hr class="p-rule">
  <div class="row">
    <div class="col-6">
      <div class="p-section--shallow">
        <h2>NVIDIA Bluefield DPU support</h2>
      </div>
      <div class="p-section--shallow">
        <p>NVIDIA Bluefield DPUs provide a secure and accelerated environment for any workload, separate from the host. Microk8s on Bluefield gives you the following benefits:</p>
        <p>Free up precious resources from the host &mdash; Use MicroK8s as the worker node for any cloud-native network functionality to complement business workloads running on the host, in the same Microk8s cluster. Examples of these network functions include routing, address translation, application or secured API gateways.</p>
        <p>Separate infrastructure and tenant workloads &mdash; With this approach, each physical system runs two nodes that are managed by distinct Kubernetes control planes and organizations: an infrastructure node hosted on the DPU and a tenant node running on the server.</p>
        <p>
          NVIDIA Bluefield operates on a derivative of Ubuntu server. It can run Snapd and Microk8s out of the box. Simply install Snapd with apt install snapd and you can go through our <a href="/docs/getting-started">tutorial</a>.
        </p>
      </div>
    </div>
  </div>
</section>
