// These are the blockquote rules from the Vanilla Dev branch at commit 19a80ec
// https://github.com/vanilla-framework/vanilla-framework/blob/develop/scss/_base_blockquotes.scss
// When it lands in master and the depency is updated in this repo this can be removed
@import 'vanilla-framework/scss/settings';

$spv-inner--regular: $sp-unit * 2;

blockquote {
    border-left: 2px solid $color-mid-dark;
    margin-bottom: $spv-inner--regular;
    margin-left: 0;
    margin-top: 0;
    overflow: auto; // include margins of children into it's own height
    padding-bottom: $spv-inner--scaleable;
    padding-left: $sp-large;

    & > :last-child {
      margin-bottom: $spv-nudge-compensation;
    }

    > cite {
      display: block;
      font-style: normal;
    }

    > p {
      font-style: italic;
    }
}
