// Colours
$ubuntu-orange: #e95420;
$mine-shaft: #333333;
$persian-red: #ce2d2d;

$color-navigation-background: $mine-shaft;
$color-navigation-active-bar: $ubuntu-orange;

// Sidebar
$content-padding: 0 5%;
$sidebar-width: 18rem;