
.docs-container {
  max-width: 64.875rem;
  margin: 0 auto;

  p {
    max-width: none;
  }
}

.p-navigation {
  flex-basis: 100%; }
.p-sidebar-nav {

  &__list {
    @extend .p-list;
    margin-bottom: $spv-inner--scaleable;
    margin-top: -$spv-inner--x-small--scaleable;
  }

  &__item {
    padding-bottom: $spv-inner--x-small--scaleable / 2;
    padding-top: $spv-inner--x-small--scaleable / 2;

    &:first-of-type {
      padding-top: $spv-inner--scaleable;
    }

    &:last-of-type {
      padding-bottom: $spv-inner--scaleable + $spv-inner--x-small--scaleable;
    }

    .is-active {
      position: relative;

      &::before {
        background-color: $color-mid-light;
        bottom: -$spv-inner--x-small--scaleable;
        content: '';
        left: -$sph-inner;
        position: absolute;
        top: -$spv-inner--x-small--scaleable;
        width: $bar-thickness;
      }
    }
  }

  &__item > &__list {
    padding-left: $sph-inner;
  }
}

.p-sidebar {
  border-right: $border;
  flex: 0 0 $sidebar-width;

  @supports (position: sticky) {
    height: 100vh;
    overflow-y: scroll;
    position: sticky;
    top: 0;
  }

  &__banner {
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    padding: $sp-large;
  }

  &__toggle {
    background-size: $sp-medium;
    cursor: pointer;
    padding: $sp-x-large;
  }
}
.docs-container {
  display: flex;
  flex-wrap: wrap; }

.p-navigation {
  flex-basis: 100%; }

.p-sidebar {
  border-right: 0.0625rem solid #cdcdcd;
  flex: 0 0 18rem; }
  @supports (position: sticky) {
    .p-sidebar {
      height: 100vh;
      overflow-y: scroll;
      position: sticky;
      top: 0; } }
  .p-sidebar__banner {
    display: flex;
    justify-content: flex-end; }
  .p-sidebar__content {
    padding: 1.5rem; }
  .p-sidebar__toggle {
    background-size: 1rem;
    cursor: pointer;
    padding: 2rem; }

.p-content {
  margin-top: 0;
  flex: 5; }
  .p-content__row {
    margin-left: inherit;
    padding: 0 5%; }

.p-aside {
  flex: 1;
  width: 12rem; }
  @supports (position: sticky) {
    .p-aside {
      height: 100vh;
      position: sticky;
      top: 0; } }

.p-footer {
  flex-basis: 100%; }

@media only screen and (max-width: 900px) {
  .docs-container {
    display: block; }
  .p-sidebar {
    border-bottom: 0.0625rem solid #cdcdcd;
    border-right: 0;
    flex: auto;
    height: inherit;
    position: static;
    overflow: hidden; }
    .p-sidebar__content {
      padding: 0 1.5rem 1.5rem 1.5rem; }
  .p-content {
    flex: auto; }
    .p-content__row {
      padding-left: 1.5rem; }
  .p-aside {
    display: none; } }
