// Import scss settings
@import 'settings';

// Import Vanilla
@import 'vanilla-framework/scss/build';

// import additional styles
@import "sidebar";
@import "blockquote";
@import "docs";

@include docs;

// Custom styles
.p-navigation__banner {
  background-color: $ubuntu-orange;
}

.p-navigation__logo {
  font-weight: 400;
  margin-right: $sph-inner--large;

  @media only screen and (max-width: $breakpoint-medium) {
    margin-bottom: -12px;
    margin-top: 0;
    max-height: 3rem;
  }
}

.p-navigation__toggle {
  &--open,
  &--close {
    font-weight: 400;
  }
}

.u-hide--x-small {
  @media only screen and (max-width: $breakpoint-x-small) {
    display: none;
  }
}

.p-matrix__item:last-of-type {
  @media only screen and (max-width: $breakpoint-x-small) {
    padding-bottom: 0;
  }
}

.p-strip--header {
  @extend %vf-strip;
  background-blend-mode: multiply, multiply, normal;
  background-position: top right, top left, left top;
  background-color: #111;
  background-image:
    linear-gradient(to bottom left, rgba(216, 216, 216, 0.54) 0, rgba(216, 216, 216, 0.54) 49.9%, transparent 50%),
    linear-gradient(to bottom right, rgba(228, 228, 228, 0.54) 0, rgba(228, 228, 228, 0.54) 49.9%, transparent 50%),
    linear-gradient(201deg, #4e4e4e 0%, #333 46%, #111 90%);
  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 100%, 100% 99.8%;
  color: $color-x-light;
}
