@mixin microk8s-l-docs {
  .p-side-navigation#drawer {
    ul {
      @extend .p-side-navigation__list;
    }

    li {
      @extend .p-side-navigation__item;

      &:first-of-type {
        @extend .p-side-navigation__item--title;
      }
    }

    a {
      @extend .p-side-navigation__link;
    }

    h3 {
      color: $color-dark;
      font-size: 1rem;
      font-weight: 400;
      line-height: 2;
      margin-bottom: 0;
    }
  }
}
