.p-card--resources {
  background: #000 url("https://assets.ubuntu.com/v1/134d6bc1-video-background-suru.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 338px;
  max-width: 567px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;

  h2 {
    color: white;
  }

  .icon-container {
    align-self: center;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);

    i {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.p-side-navigation__drawer {
  @media screen and (min-width: $breakpoint-large) {
    background: none !important;
  }
}
