.p-card--resources {
  align-items: center;
  background: #000 url("https://assets.ubuntu.com/v1/2923651d-background-1.png");
  background-size: cover;
  height: 337.5px;
  max-width: 599px;
  padding-left: 16px;
  padding-right: 16px;

  h2 {
    color: white;
  }
}