// Colours
$ubuntu-orange: #e95420;
$persian-red: #ce2d2d;
$theme-default-nav: dark;
$color-navigation-active-bar: $ubuntu-orange;
$table-layout-fixed: false;

// update documentation sidebar width for deeper nesting
$l-documentation-sidebar-width: 18rem;
