// Import scss settings
@import "settings";

// Import Vanilla
@import "vanilla-framework";
@include vanilla;
@include vf-p-icon-video-play;

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// import additional styles
@import "pattern_github_buttons";
@import "pattern_tutorials";
@import "pattern_footer";
@import "pattern_resources";
@include microk8s-github-buttons;
@include canonical-p-footer;

// Custom styles
.p-tab {
  color: $color-mid-dark;

  &:focus,
  &:hover,
  &.active {
    background-color: $color-light;
    text-decoration: none;
  }
}

.p-navigation {
  .p-navigation__row {
    .p-navigation__banner {
      padding: 0 ($sph--small + $sph--large);

      @media only screen and (max-width: $breakpoint-small) {
        padding-left: 1rem;
      }

      .p-navigation__logo {
        font-weight: 400;
        margin-right: 0;
      }

      .p-navigation__toggle {
        &--open,
        &--close {
          font-weight: 400;
        }
      }
    }
  }
}

.p-matrix__item:last-of-type {
  @media only screen and (max-width: $breakpoint-x-small) {
    padding-bottom: 0;
  }
}

.u-hide--x-small {
  @media only screen and (max-width: $breakpoint-x-small) {
    display: none;
  }
}

.u-stepped-list-margin {
  margin-left: 3.5rem;

  @media only screen and (max-width: $breakpoint-x-small) {
    margin-left: 3rem;
  }
}

// XXX Steve: 21.06.18
// https://github.com/vanilla-framework/vanilla-framework/issues/1794
.u-no-max-width {
  max-width: none !important;
}

.p-pull-quote {
  .p-pull-quote__quote:first-of-type::before,
  .p-pull-quote__quote:last-of-type::after {
    color: $color-x-light;
  }
}

.no-js .js-tab__content {
  display: block !important;
}

.p-strip--whitesuru {
  @extend .p-strip;

  background: url("https://assets.ubuntu.com/v1/25538a5e-Suru%20top%20left%20angle.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;

  // Hide suru on small and medium screens
  @media screen and (max-width: $breakpoint-small - 1) {
    background: none;
  }

  @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-large - 1) {
    background: none;
  }
}

.p-stepped-list__item:first-child {
  &::after {
    display: none;
  }
}

[role="tabpanel"] {
  .row--25-75 {
    padding-left: 0;
    padding-right: 0;
  }
}

.table-container {
  @media screen and (max-width: $breakpoint-small - 1) {
    overflow: scroll;
  }
}

.is-landing {
  display: flex;
  justify-content: space-between;
  padding-top: .5rem;

  @media screen and (max-width: $breakpoint-small - 1) {
    flex-direction: column;
  }
}
