// Import scss settings
@import "settings";

// Import Vanilla
@import "vanilla-framework/scss/build";

// import additional styles
@import "sidebar";
@import "docs";

@include layout-documentation;

// Custom styles
.p-tab {
  color: $color-mid-dark;

  &:focus,
  &:hover,
  &.active {
    background-color: $color-light;
    text-decoration: none;
  }
}

.p-navigation__banner {
  background-color: $ubuntu-orange;
}

.p-navigation {
  .p-navigation__row {
    padding: 0;

    .p-navigation__banner {
      padding: 0 $sph-inner--large;

      .p-navigation__logo {
        font-weight: 400;
        margin-right: 0;
      }

      .p-navigation__toggle {
        &--open,
        &--close {
          font-weight: 400;
        }
      }
    }

    .p-navigation__link.social-button {
      margin-top: 0.625rem;

      @media screen and (max-width: $breakpoint-medium) {
        margin-left: $sph-inner--large;
      }

      &:last-of-type {
        margin-right: 2rem;
      }
    }
  }
}

.p-matrix__item:last-of-type {
  @media only screen and (max-width: $breakpoint-x-small) {
    padding-bottom: 0;
  }
}

.p-strip--header {
  @extend %vf-strip;

  background-blend-mode: multiply, multiply, normal;
  background-color: #111;
  background-image: linear-gradient(
      to bottom left,
      rgba(216, 216, 216, 0.54) 0,
      rgba(216, 216, 216, 0.54) 49.9%,
      transparent 50%
    ),
    linear-gradient(
      to bottom right,
      rgba(228, 228, 228, 0.54) 0,
      rgba(228, 228, 228, 0.54) 49.9%,
      transparent 50%
    ),
    linear-gradient(201deg, #4e4e4e 0%, #333 46%, #111 90%);
  background-position: top right, top left, left top;
  background-repeat: no-repeat;
  background-size: 77% 115%, 71% 104%, 100% 99.8%;
  color: $color-x-light;
}

.u-hide--x-small {
  @media only screen and (max-width: $breakpoint-x-small) {
    display: none;
  }
}

.u-stepped-list-margin {
  margin-left: 3.5rem;

  @media only screen and (max-width: $breakpoint-x-small) {
    margin-left: 3rem;
  }
}

// XXX Steve: 21.06.18
// https://github.com/vanilla-framework/vanilla-framework/issues/1794
.u-no-max-width {
  max-width: none !important;
}

// Twitter button
.twitter-share-button {
  margin: 0;
  margin-right: 1rem;
}

// Github button
.github-button {
  margin-top: 10px;
}
