<div class="p-side-navigation--raw-html is-sticky" id="drawer">
  <button class="p-side-navigation__toggle js-drawer-toggle" aria-controls="drawer">
    Toggle side navigation
  </button>
  <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls="drawer"></div>
  <nav class="p-side-navigation__drawer" aria-label="documentation side navigation">
    <div class="p-side-navigation__drawer-header">
      <button class="p-side-navigation__toggle--in-drawer js-drawer-toggle" aria-controls="drawer">
        Toggle table of contents
      </button>
    </div>
    <ul>
      <li class="p-side-navigation__item">
        <a class="highlight-link" href="#videos-and-webinars">Videos and webinars</a>
      </li>
      <li class="p-side-navigation__item">
        <a class="highlight-link" href="#publications">Publications</a>
      </li>
      <li class="p-side-navigation__item">
        <a class="highlight-link" href="#from-our-blog">From our blog </a>
      </li>
    </ul>
  </nav>
</div>