<h2 class="p-text--small-caps">From our blog</h2>
<article class="p-section--shallow">
  <h2><a href="https://ubuntu.com/blog/kubernetes-ci-cd-pipelines-what-why-and-how">Kubernetes CI/CD pipelines: What, why, and how</a></h2>
  <p>Alex Chalkias, Kubernetes Product Manager, walks us through the details of CI/CD pipelines.</p>
  <p>In this introductory blog, we learn about the basics of continuous integration and continuous delivery, what are the benefits of Kubernetes CI/CD and how to combine MicroK8s with Gitlab to build a full DevOps environment.</p>
  <div>
    {{ 
      image (
      url="https://assets.ubuntu.com/v1/d2c3dc7b-kubernetes-ci-cd-pipelines.jpg",
      alt="",
      width="600",
      height="338",
      hi_def=True,
      loading="auto"
      ) | safe
    }}
  </div>
</article>
<hr class="is-muted">
<article class="p-section--shallow">
  <h2><a href="https://juju.is/cloud-native-kubernetes-usage-report-2021">Kubernetes and cloud-native<br class="u-hide--small"> operations report</a></h2>
  <p>Canonical is a proud member of the CNCF and MicroK8s is a very popular Kubernetes distribution for developers and enterprises alike.</p>
  <p>In this industry report, we wanted to leverage our user base to share important data around the usage and operations of Kubernetes and cloud-native technologies. We also asked industry experts to provide their insights &ndash; this makes for a fascinating read.</p>
</article>
<hr class="is-muted">
