{% extends "base_layout.html" %}

{% block title %}Resources{% endblock %}

{% block meta_description %}A collection of useful and educational material and information about MicroK8s. Learn more about Kubernetes from some of the industry’s best.{% endblock meta_description %}

{% block meta_copydoc %}https://docs.google.com/document/d/1PB5-CamGmSjhbuyuGSariC9zUW-8krAJD0l8JyvNk20/edit#{% endblock %}

{% block content %}

<section class="p-strip--whitesuru is-shallow u-no-padding--bottom">
  <div class="p-section--deep">
    <div class="row">
      <div class="col-start-large-4 col-9">
        <div class="p-section--shallow">
          <h1>Understand MicroK8s:<br class="u-hide--small"> Resources</h1>
        </div>
        <p>Explore a collection of useful resources that will help you understand and evaluate MicroK8s when building your Kubernetes cluster.</p>
      </div>
    </div>
  </div>
</section>
<section class="p-strip">
  <div class="row">
    <div class="col-3">
      {% include "resources/_side-navigation-resources.html" %}
    </div>
    <div class="col-9">
      <div id="videos-and-webinars" class="content-container">
        {% include "resources/videos-and-webinars.html" %}
      </div>
      <div id="publications" class="content-container">
        {% include "resources/publications.html" %}
      </div>
      <div id="from-our-blog" class="content-container">
        {% include "resources/from-our-blog.html" %}
      </div>
    </div>
  </div>
</section>

<script src="{{ versioned_static('js/side-navigation.js') }}"></script>
{% endblock %}
