{% extends 'base_layout.html' %}

{% block content %}
<main id="main-content">

  <section class="p-strip--header is-dark">
    <div class="row u-vertically-center u-equal-height">
      <div class="col-8">
        <h1>
          Single-package upstream Kubernetes
        </h1>
        <p class="p-heading--four">
          The smallest, simplest, pure production K8s.
        </p>
        <p class="p-heading--four">
          For clusters, laptops, IoT and Edge, on Intel and ARM too.
        </p>
      </div>
      <div class="col-4 u-align--center u-hide--small">
        <img src="https://assets.ubuntu.com/v1/4b663a6c-certified-kubernetes-logo.svg" width="150" alt="Certified Kubernetes" />
      </div>
    </div>
  </section>

  <section class="p-strip--light" id="get-started" role="tablist">
    <div class="u-no-fixed-width">
      <h3 class="u-align--center">
        Select platform for install steps
      </h3>
    </div>
    <div class="row u-equal-height u-sv3">
      <a id="tab-one" href="#tab-one__content" class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab" role="tab" aria-selected="false">
        <img src="https://assets.ubuntu.com/v1/53c3be42-linuc-logo.svg" style="height: 90px; margin-top: 1rem;" alt="">
        <p class="p-heading--four">Linux</p>
      </a>
      <a id="tab-two" href="#tab-two__content" class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab" role="tab" aria-selected="true">
        <img src="https://assets.ubuntu.com/v1/11ecbd2d-2018-logo-windows.svg" style="height: 145px;" alt="Windows">
        <h4>
          Windows <span class="p-label--new">NEW</span>
        </h4>
      </a>
      <a id="tab-three" href="#tab-three__content" class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab" role="tab" aria-selected="false">
        <img src="https://assets.ubuntu.com/v1/236f314d-macos.svg" style="height: 145px;" alt="macOS">
        <h4>
          macOS <span class="p-label--new">NEW</span>
        </h4>
      </a>
    </div>
    <div class="row">
      <div class="col-6 js-tab__content" id="tab-one__content" role="tabpanel" aria-labelledby="tab-one">
        {% include "/partial/_get-started-linux.html" %}
      </div>
      <div class="col-6 js-tab__content" id="tab-two__content" role="tabpanel" aria-labelledby="tab-two">
        {% include "/partial/_get-started-windows.html" %}
      </div>
      <div class="col-6 js-tab__content" id="tab-three__content" role="tabpanel" aria-labelledby="tab-three">
        {% include "/partial/_get-started-macos.html" %}
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row">
      <div class="col-6">
        <blockquote  class="p-pull-quote">
          <p class="p-pull-quote__quote">
            Canonical might have assembled the easiest way to provision a single node Kubernetes cluster
          </p>
          <cite class="p-pull-quote__citation">
            &mdash; <a class="p-link--external" href="https://twitter.com/kelseyhightower/status/1120834594138406912">Kelsey Hightower</a>
          </cite>
        </blockquote>
      </div>
      <div class="col-6">
        <blockquote class="p-pull-quote">
          <p class="p-pull-quote__quote">
            dear microk8s team: you are awesome. Microk8s has tangibly improved my life and my CI pipelines as a developer of k8s controllers
          </p>
          <cite class="p-pull-quote__citation">
            &mdash; in <a href="https://kubernetes.slack.com/messages/microk8s/" class=" p-link--external">#microk8s</a>
          </cite>
        </blockquote>
      </div>
    </div>
  </section>

  <section class="p-strip--light">
    <div class="row u-equal-height">
      <div class="col-3">
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Conformant</li>
          <li class="p-list__item is-ticked">Clustering</li>
          <li class="p-list__item is-ticked">Dashboard</li>
          <li class="p-list__item is-ticked">Istio</li>
          <li class="p-list__item is-ticked">Prometheus</li>
          <li class="p-list__item is-ticked">Windows</li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Lightweight</li>
          <li class="p-list__item is-ticked">Automatic updates</li>
          <li class="p-list__item is-ticked">DNS</li>
          <li class="p-list__item is-ticked">Linkerd</li>
          <li class="p-list__item is-ticked">Fluentd</li>
          <li class="p-list__item is-ticked">macOS</li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Confinement</li>
          <li class="p-list__item is-ticked">Registry</li>
          <li class="p-list__item is-ticked">Knative</li>
          <li class="p-list__item is-ticked">Metrics</li>
          <li class="p-list__item is-ticked">Intel</li>
          <li class="p-list__item is-ticked">ARM</li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Storage</li>
          <li class="p-list__item is-ticked">Kubeflow</li>
          <li class="p-list__item is-ticked">Ingress</li>
          <li class="p-list__item is-ticked">Jaeger</li>
          <li class="p-list__item is-ticked">GPGPUs</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row u-equal-height">
      <div class="col-7">
        <h2>
          Lightweight Kubernetes done right
        </h2>
        <p>
          MicroK8s is pure upstream Kubernetes, not a subset.
        </p>
        <p>
          We keep it small with sensible choices that just work. That makes a quick install, with easy upgrades and great security. And leaves your options open later.
        </p>
      </div>
      <div class="col-5 u-hide--small u-align--center u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/0822f908-kubernetes-instal.svg" alt="" width="140" height="188" loading="auto">
      </div>
    </div>
  </section>

  <section class="p-strip--light">
    <div class="row u-equal-height">
      <div class="col-5 u-hide--small u-align--center u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/a84416b2-IoT-gateways-on-ubuntu.svg" alt="" width="350" height="200" loading="auto">
      </div>
      <div class="col-7">
        <h2>
          Fit for Edge and IoT
        </h2>
        <p>
          Popular on a Raspberry Pi. Peerless on a PC too. With easy clusters on a few. Compressed over-the-air updates for ultra-reliable remote operations with optimised bandwidth.
        </p>
        <p>
          Under the cell tower. On the racecar. On satellites and everyday appliances, MicroK8s delivers the full Kubernetes experience for GitOps at planetary scale.
        </p>
        <p>
          MicroK8s clusters are autonomous edge infrastructure.
        </p>
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row u-equal-height">
      <div class="col-7">
        <h2>
          Windows. MacOS. Linux. Developers love choice.
        </h2>
        <h4>
          A single-package install for K8s at your fingertips.
        </h4>
        <p>
          Upstream Kubernetes on your Windows or Mac machine - just like Linux.  Get <code>kubectl</code> at the command line, and drive a local K8s with no network required.
        </p>
        <p>
          Perfectly aligned with every cloud Kubernetes. A smooth onramp from dev to test and production.
        </p>
        <p>
          Native installer. Offline development. Handy stuff.
        </p>
      </div>
      <div class="col-5 u-hide--small u-align--center u-vertically-center">
        <ul class="p-inline-images">
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo"src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="" style="height: 145px;" loading="auto">
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/53c3be42-linuc-logo.svg" style="height: 145px;" alt="">
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/236f314d-macos.svg" style="height: 145px;" alt="macOS">
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/11ecbd2d-2018-logo-windows.svg" style="height: 145px;" alt="Windows">
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-strip--light">
    <div class="row u-equal-height">
      <div class="col-5 u-hide--small u-align--center u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/0714f018-VMware-migration.svg" alt="" width="140" height="140" loading="auto">
      </div>
      <div class="col-7">
        <h2>
          Clusters for scale
        </h2>
        <p>
          Single node K8s is great for appliances and development. Production workloads often need to spread out across a cluster.
        </p>
        <p>
          Join MicroK8s nodes together with a single command and get all the capacity you need.
        </p>
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row u-equal-height">
      <div class="col-7">
        <h2>
          Sensible defaults
        </h2>
        <h4>
          Kubernetes has a million options. We select the most popular and reliable.
        </h4>
        <p>
          MicroK8s defaults to the most widely used Kubernetes options in a single package, so you get what most people are using, pre-integrated, no config needed.
        </p>
      </div>
      <div class="col-5 u-hide--small u-align--center u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/6cef8858-Apps.svg" alt="" width="140" height="188" loading="auto">
      </div>
    </div>
  </section>

  <section class="p-strip--light">
    <div class="row u-equal-height">
      <div class="col-5 u-hide--small u-align--center u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/69aaa876-compliance.svg" alt="" width="140" height="140" loading="auto">
      </div>
      <div class="col-7">
        <h2>
          Batteries included
        </h2>
        <h4>
          Tracing. Metrics. Service Mesh. Registry.
        </h4>
        <p>
          Most people use Prometheus for metrics, so we bundled it in MicroK8s. The same is true for Jaeger, Istio, LinkerD and KNative.
        </p>
        <p>
          Turn them on or off with one command. Have your toolbox handy, but spare the cycles too.
        </p>
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row u-equal-height">
      <div class="col-7">
        <h2>
          Automatic updates
        </h2>
        <h4>
          Let it roll or take control
        </h4>
        <p>
          Choose your channel - stable releases only, release candidates, betas or edge for daily builds. MicroK8s can update automatically, with rollback on failure.
        </p>
        <p>
          Stick with a major version, or follow the latest upstream work. Go with the flow, or take control in the enterprise to specify exactly which versions go where and when, with perfect precision.
        </p>
      </div>
      <div class="col-5 u-hide--small u-align--center u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/c711b814-reliable_updates.svg" alt="" width="350" height="200" loading="auto">
      </div>
    </div>
  </section>

  <section class="p-strip--light">
    <div class="row u-equal-height">
      <div class="col-5 u-hide--small u-align--center u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/72dcc529-containers-illustration_AW.svg" alt="" width="350" height="200" loading="auto">
      </div>
      <div class="col-7">
        <h2>
          Fully containerized Kubernetes
        </h2>
        <h4>
          Immutable containers, just like the apps on top.
        </h4>
        <p>
          There’s a reason people love Docker images, they have no awkward moving parts. MicroK8s also runs as an immutable container, so your Kubernetes itself is fully containerized and gets all the same security and update reliability you want for the apps you run on top of it.
        </p>
        <p>
          Yes, it sounds like an infinite loop, but it just works.
        </p>
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row u-equal-height">
      <div class="col-7">
        <h2>
          Safe and easy CI/CD
        </h2>
        <h4>
          Dockerized app developers love their pipelines
        </h4>
        <p>
          So your CI/CD machine spins up a clean VM for each test run? Just install MicroK8s at the top of your script, and you have a crisp, clean K8s ready to run your tests. Throw it away when you’re done, it only takes a second to make another.
        </p>
      </div>
      <div class="col-5 u-hide--small u-align--center u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/ae0d7b33-4+implementation_AW.svg" alt="" width="350" height="200" loading="auto">
      </div>
    </div>
  </section>

  <section class="p-strip--light">
    <div class="row u-equal-height">
      <div class="col-5 u-hide--small u-align--center u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/9afbad2b-Networking.svg" alt="" width="350" height="200" loading="auto">
      </div>
      <div class="col-7">
        <h2>
          GPGPU for you
        </h2>
        <h4>
          Nvidia ready and AI/ML steady
        </h4>
        <p>
          Pass GPUs to docker apps, for deep learning dev and test. Define your AI workflows with Kubeflow on your workstation. MicroK8s is your home edition HPC.
        </p>
        <p>
          We work with Amazon, Azure, Google, Oracle and IBM to simplify multi-cloud GPU accelerated workload development. Start here, then deploy to any cloud.
        </p>
      </div>
    </div>
  </section>

  <section class="p-strip is-bordered u-hide--small">
    <div class="row">
      <h2>
        Experience MicroK8s
      </h2>
      <p>
        Here’s a quick intro video.  Pause and copy commands straight from this text console.
      </p>
      <div class="asciinema-container"></div>
    </div>
  </section>

</main>

<script>
  var asciinemaContainer = document.querySelector('.asciinema-container');
  var clientWidth = document.documentElement.clientWidth;
  var asciinemaContent = '<script src="https://asciinema.org/a/18zR8APlrKmgQQmlnTZHNeHkW.js" id="asciicast-18zR8APlrKmgQQmlnTZHNeHkW"'+
  'async="" data-player="[object HTMLDivElement]"><\/script>'+
  '<div id="asciicast-container-18zR8APlrKmgQQmlnTZHNeHkW" class="asciicast" style="display: block; float: none; overflow: hidden; padding: 0px; margin: 20px 0px;">'+
    '<iframe class="lazyload" data-src="https://asciinema.org/a/18zR8APlrKmgQQmlnTZHNeHkW/embed?" id="asciicast-iframe-18zR8APlrKmgQQmlnTZHNeHkW"'+
    'name="asciicast-iframe-18zR8APlrKmgQQmlnTZHNeHkW" allow="fullscreen" style="overflow: hidden; margin: 0px; border: 0px; display: inline-block; width: 1140px; float: none; visibility: visible; height: 931px;"'+
    'title="A number to steps to get started with MicroK8s">'+
    '</iframe>'+
    '</div>';

    if (clientWidth >= 620 && asciinemaContainer) {
      asciinemaContainer.innerHTML = asciinemaContent;
    }
  </script>

  <script defer src="/static/js/copytoclipboard.js"></script>
  <script defer src="/static/js/installversion.js"></script>
  <script defer src="/static/js/tabs.js"></script>
  <script src="https://assets.ubuntu.com/v1/703e23c9-lazysizes+noscript+native-loading.5.1.2.min.js" defer></script>

  {% endblock %}
