{% extends 'base_layout.html' %}

{% block content %}
<main id="main-content">

 <section class="p-strip--suru is-dark">
   <div class="row u-vertically-center u-equal-height">
     <div class="col-7">
       <h1>High availability K8s <span class="p-label--new" style="position: relative; top: -1rem;">New</span></h1>
       <p class="p-heading--four">
        Low-ops, minimal production Kubernetes,
        <br />
        for devs, cloud, clusters, workstations, Edge and IoT.
       </p>
     </div>
     <div class="col-5 u-align--center u-hide--small u-embedded-media">
       <iframe class="u-embedded-media__element" width="560" height="315" src="https://www.youtube.com/embed/v9KI2BAF5QU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
   </div>
 </section>

 <section class="p-strip" id="get-started" role="tablist">
   <div class="row">
     <div class="col-12">
       <h2 class="u-align--left u-no-max-width u-sv2">
           Select platform for install steps
       </h2>
     </div>
   </div>
   <div class="row u-equal-height u-sv3">
      <a id="tab-one" href="#tab-one__content"
        class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab" role="tab">
        <img src="https://assets.ubuntu.com/v1/53c3be42-linuc-logo.svg" style="height: 90px; margin-top: 1rem;" alt="">
        <p class="p-heading--four" class="p-heading--five p-tab__title">Linux</p>
      </a>

      <a id="tab-two" href="#tab-two__content"
        class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab" role="tab">
        <img src="https://assets.ubuntu.com/v1/11ecbd2d-2018-logo-windows.svg" style="height: 145px;" alt="Windows">
      </a>

      <a id="tab-three" href="#tab-three__content"
        class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab" role="tab">
        <img src="https://assets.ubuntu.com/v1/236f314d-macos.svg" style="height: 145px;" alt="macOS">
      </a>
   </div>

   <div class="row">
     <div class="col-8 js-tab__content u-hide" id="tab-one__content" role="tabpanel" aria-labelledby="tab-one">
       {% include "/partial/_get-started-linux.html" %}
     </div>
     <div class="col-8 js-tab__content u-hide" id="tab-two__content" role="tabpanel" aria-labelledby="tab-two">
       {% include "/partial/_get-started-windows.html" %}
     </div>
     <div class="col-8 js-tab__content u-hide" id="tab-three__content" role="tabpanel" aria-labelledby="tab-three">
       {% include "/partial/_get-started-macos.html" %}
     </div>
   </div>
 </section>

 <section class="p-strip--light is-deep">
   <div class="row u-equal-height">
     <div class="col-4 u-vertically-center u-align--center u-hide--small">
       <img src="https://assets.ubuntu.com/v1/9d785fad-Automatic+node+allocation.svg" alt="Automatic node allocation" width="230"/>
     </div>
     <div class="col-8">
       <h2>Self-healing high availability clusters</h2>
       <p class="p-heading--four">Automatic data store, API services and leader election</p>
       <p>MicroK8s automatically chooses the best nodes for the Kubernetes datastore. When you lose a cluster database node, another node is promoted. No admin needed for your bulletproof edge.</p>
     </div>
   </div>
 </section>

 <section class="p-strip is-deep">
   <div class="row u-equal-height">
     <div class="col-7">
       <h2>Lightweight upstream Kubernetes</h2>
       <p class="p-heading--four">No APIs added or removed</p>
       <p class="u-no-margin--bottom u-sv3">MicroK8s is small, with sensible defaults that ‘just work’. A quick install, easy upgrades and great security make it perfect for micro clouds and edge computing.</p>
       <p>
         <a class="p-link--external" href="https://ubuntu.com/engage/microk8s-451research">Read the whitepaper</a>
       </p>
     </div>
     <div class="col-5 u-hide--small u-align--center u-vertically-center">
       <img src="https://assets.ubuntu.com/v1/3e64aa42-Canonical_451Research_MicroK8s_Final-1.png" alt="Kubernetes brief" width="500">
     </div>
   </div>
 </section>

 <section class="p-strip--light is-deep">
   <div class="row">
     <h2>Best of breed</h2>
   </div>
   <div class="row u-equal-height">
     <div class="col-2">
       <h3 class="p-heading--four">Enterprise</h3>
       <ul class="p-list--divided u-no-margin--bottom">
         <li class="p-list__item is-ticked">Clustering</li>
         <li class="p-list__item is-ticked">Auto-updating</li>
         <li class="p-list__item is-ticked">Confinement</li>
         <li class="p-list__item is-ticked">Storage</li>
       </ul>
       <hr class="u-hide u-show--small u-no-margin--bottom"/>
     </div>
     <div class="col-2">
       <h3 class="p-heading--four">Platforms</h3>
       <ul class="p-list--divided u-no-margin--bottom">
         <li class="p-list__item is-ticked">Windows</li>
         <li class="p-list__item is-ticked">macOS</li>
         <li class="p-list__item is-ticked">Intel</li>
         <li class="p-list__item is-ticked">ARM</li>
       </ul>
       <hr class="u-hide u-show--small u-no-margin--bottom"/>
     </div>
     <div class="col-2">
       <h3 class="p-heading--four">Networking</h3>
       <ul class="p-list--divided u-no-margin--bottom">
         <li class="p-list__item is-ticked">CoreDNS</li>
         <li class="p-list__item is-ticked">Ingress</li>
         <li class="p-list__item is-ticked">Istio</li>
         <li class="p-list__item is-ticked">Linkerd</li>
       </ul>
       <hr class="u-hide u-show--small u-no-margin--bottom"/>
     </div>
     <div class="col-2">
       <h3 class="p-heading--four">Usability</h3>
       <ul class="p-list--divided u-no-margin--bottom">
         <li class="p-list__item is-ticked">Dashboard</li>
         <li class="p-list__item is-ticked">Prometheus</li>
         <li class="p-list__item is-ticked">Fluentd</li>
         <li class="p-list__item is-ticked">Jaeger</li>
       </ul>
     </div>
     <div class="col-2">
       <h3 class="p-heading--four">Built-in</h3>
       <ul class="p-list--divided u-no-margin--bottom">
         <li class="p-list__item is-ticked">Registry</li>
         <li class="p-list__item is-ticked">Knative</li>
         <li class="p-list__item is-ticked">Kubeflow</li>
         <li class="p-list__item is-ticked">GPU support</li>
       </ul>
     </div>
   </div>
 </section>

 <section class="p-strip is-deep">
   <div class="row u-equal-height">
     <div class="col-8">
       <h2>Full enterprise support available, <br />no license fees</h2>
       <p class="p-heading--four">Optional 24/7 support with 10 year security maintenance</p>
       <p>As the publishers of MicroK8s, we deliver the world’s most efficient multi-cloud, multi-arch Kubernetes.</p>
       <p><a href="/contact-us" class="p-button--positive">Contact us</a></p>
     </div>
     <div class="col-3 col-start-large-9 u-hide--small u-align--center u-vertically-center">
       <img src="https://assets.ubuntu.com/v1/5d6da5c4-logo-canonical-aubergine.svg" alt="">
     </div>
   </div>
 </section>

 <section class="p-strip--light is-deep">
   <div class="row u-equal-height">
     <div class="col-5 u-hide--small u-align--center u-vertically-center">
       <img src="https://assets.ubuntu.com/v1/a0bcf947-IoT+gateways-Kubernetes.svg" alt="" width="400" loading="auto">
     </div>
     <div class="col-7">
       <h2>Embedded Kubernetes &ndash; try a Raspberry Pi cluster</h2>
       <p class="p-heading--four">ARM or Intel. Standalone or cluster. Minimal space, maximum edge.</p>
       <p>Under the cell tower. On the racecar. On satellites or everyday appliances, MicroK8s delivers the full Kubernetes experience on IoT and micro clouds.</p>
       <p>Fully containerized deployment with compressed over-the-air updates for ultra-reliable operations.</p>
     </div>
   </div>
 </section>

 <section class="p-strip is-deep">
   <div class="row u-equal-height">
     <div class="col-7">
       <h2>Zero-ops infrastructure</h2>
       <p class="p-heading--four">Set it up and let it run</p>
       <p>Our goal is to eliminate everyday  administration from Kubernetes clusters.</p>
       <p> Install, cluster, and then just watch it fly. You can configure MicroK8s if you want. Most people don’t bother.</p>
       <p>MicroK8s will apply security updates automatically by default, defer them if you want. Upgrade to a newer version of Kubernetes with a single command. It’s really that easy.</p>
     </div>
     <div class="col-5 u-hide--small u-align--center u-vertically-center">
       <img src="https://assets.ubuntu.com/v1/dc735dc5-single-line-install.svg" alt="" style="height: 200px; width: 350px;" />
     </div>
   </div>
 </section>

 <section class="p-strip--light is-deep">
   <div class="row u-equal-height">
     <div class="col-5 u-align--center u-vertically-center">
       <img class="u-hide--small" src="https://assets.ubuntu.com/v1/3ed91139-MicroK8s-%231+for+Containers.svg" alt="" style="height: 200px;width: 267px;" loading="auto">
     </div>
     <div class="col-7">
       <h2>Fully containerised Kubernetes</h2>
       <p class="p-heading--four">MicroK8s runs in an immutable container</p>
       <p>People love Docker images because they have no moving parts, for better security and simpler ops.</p>
       <p>MicroK8s also runs in an immutable container, so your Kubernetes itself is fully containerised. It sounds like an infinite loop, but it works quite nicely.</p>
     </div>
   </div>
 </section>

 <section class="p-strip is-deep">
   <div class="row u-equal-height">
     <div class="col-7">
       <h2>Sensible defaults</h2>
       <p class="p-heading--four">Kubernetes has a million options. We select the most popular and reliable.</p>
       <p>MicroK8s defaults to the most widely used Kubernetes options, so it ‘just works’ with no config necessary. Networking, storage and standard services are all provided out of the box with best of breed defaults.</p>
     </div>
     <div class="col-5 u-align--center u-vertically-center u-hide--small">
       <img src="https://assets.ubuntu.com/v1/cbe37336-MicroK8s-Apps.svg" alt="" width="347" height="200" style="height: 200px; width: 347px;" loading="auto">
     </div>
   </div>
 </section>

 <section class="p-strip--light is-deep">
   <div class="row u-equal-height">
     <div class="col-5 u-hide--small u-align--center u-vertically-center">
       <img src="https://assets.ubuntu.com/v1/9afbad2b-Networking.svg" alt="" style="height: 200px; width: 290px;" loading="auto">
     </div>
     <div class="col-7">
       <h2>GPU acceleration</h2>
       <p class="p-heading--four">Nvidia auto-detection with CUDA at the ready</p>
       <p>Pass GPUs to docker apps for deep learning. Define AI pipelines with Kubeflow on your workstation.</p>
       <p>We work with Amazon, Azure, Google, Oracle and IBM to simplify multi-cloud GPU enablement. Build and test locally on MicroK8s, then deploy to EKS, AKS or GKE with confidence.</p>
     </div>
   </div>
 </section>

 <section class="p-strip">
   <div class="row u-equal-height">
     <div class="col-6">
       <h2>Batteries included</h2>
       <p class="p-heading--four">Tracing. Metrics. Service Mesh. Registry.</p>
       <p>Prometheus is popular for metrics, so we bundled it. Just like Jaeger, Istio, LinkerD and KNative.</p>
       <p>Turn them on or off with one command.</p>
     </div>
     <div class="col-6  u-equal-height u-hide--small u-align--center u-vertically-center">
       <img src="https://assets.ubuntu.com/v1/3520f0fe-Prometheus-Dashboard1-No-stroke.png" alt="" />
     </div>
   </div>
 </section>

 <section class="p-strip--light">
   <div class="row u-equal-height">
     <div class="col-6 u-hide--small u-align--center u-vertically-center">
       <img src="https://assets.ubuntu.com/v1/c711b814-reliable_updates.svg" alt="" style="height: 200px; width: 350px;" loading="auto">
     </div>
     <div class="col-6">
       <h2>Automatic security updates</h2>
       <p class="p-heading--four">Let it roll, or take control</p>
       <p>Choose stable security releases only, or try release candidates, betas and daily builds. MicroK8s can update automatically, with rollback on failure.</p>
       <p>Stick with a major version, or follow the latest upstream work. Go with the flow, or take control in the enterprise to specify versions with perfect precision.</p>
     </div>
   </div>
 </section>

 <section class="p-strip is-deep">
   <div class="row u-equal-height">
     <div class="col-6">
       <h2>Safe and easy CI/CD</h2>
       <p class="p-heading--four">Docker app developers love pipelines</p>
       <p>So your CI/CD machine spins up a clean VM for each test run? Just install MicroK8s at the top of your script for a crisp, clean K8s to run your tests.</p>
     </div>
     <div class="col-6  u-equal-height u-hide--small u-align--center u-vertically-center">
       <img src="https://assets.ubuntu.com/v1/dec3872d-MicroK8s-Managed+securely.svg" alt="" style="height:200px; width:339px;" />
     </div>
   </div>
 </section>

 <section class="p-strip--light u-hide--small">
   <div class="row">
     <h2>Experience MicroK8s</h2>
     <p>Here’s a quick intro video. Pause and copy commands straight from this text console.</p>
     <div class="asciinema-container"></div>
   </div>
 </section>

 <section class="p-strip is-deep">
   <div class="row u-equal-height">
     <div class="col-7">
       <h2>The team behind MicroK8s</h2>
       <p>Microk8s is built by the <a class="p-link--external" href="https://www.ubuntu.com/kubernetes">Kubernetes team at Canonical</a>. We work with public cloud K8s teams, and also have two K8s distributions of our own. MicroK8s is on-rails and opinionated, for the zero-ops experience. We also make <a class="p-link--external" href="https://ubuntu.com/kubernetes/install#cluster">Charmed Kubernetes</a>  for total control of all the permutations of Kubernetes components.</p>
     </div>
     <div class="col-5 u-hide--small u-align--center u-vertically-center">
       <img src="https://assets.ubuntu.com/v1/74abf1f6-vanilla-canonical.svg" width="180" height="180" style="height: 180px;"  alt="">
     </div>
   </div>
 </section>

 {# Need help? #}
 <section class="p-strip--light">
   <div class="row">
     <div class="col-5 u-hide--small u-align--center">
       <img src="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg" alt="" width="250" height="178" loading="lazy">
     </div>
     <div class="col-7">
       <h2>Need help?</h2>
       <p>Get in touch with one of our engineers.</p>
       <p><a href="/contact-us" class="p-button--positive">Contact us</a></p>
     </div>
   </div>
 </section>
</main>

<script>
 var asciinemaContainer = document.querySelector('.asciinema-container');
 var clientWidth = document.documentElement.clientWidth;
 var asciinemaContent = '<script src="https://asciinema.org/a/KUqQaDt7p3iNO5DP0xC7W4Ufj.js" id="asciicast-KUqQaDt7p3iNO5DP0xC7W4Ufj"'+
 'async="" data-player="[object HTMLDivElement]"><\/script>'+
 '<div id="asciicast-container-KUqQaDt7p3iNO5DP0xC7W4Ufj" class="asciicast" style="display: block; float: none; overflow: hidden; padding: 0px; margin: 20px 0px;">'+
   '<iframe class="lazyload" data-src="https://asciinema.org/a/KUqQaDt7p3iNO5DP0xC7W4Ufj/embed?" id="asciicast-iframe-KUqQaDt7p3iNO5DP0xC7W4Ufj"'+
   'name="asciicast-iframe-KUqQaDt7p3iNO5DP0xC7W4Ufj" allow="fullscreen" style="overflow: hidden; margin: 0px; border: 0px; display: inline-block; width: 1140px; float: none; visibility: visible; height: 525px;"'+
   'title="A number to steps to get started with MicroK8s">'+
   '</iframe>'+
   '</div>';

 if (clientWidth >= 620 && asciinemaContainer) {
   asciinemaContainer.innerHTML = asciinemaContent;
 }
</script>

<script src="https://assets.ubuntu.com/v1/703e23c9-lazysizes+noscript+native-loading.5.1.2.min.js" defer></script>

{% endblock %}
