{% extends 'base_layout.html' %}
{% block title %}MicroK8s - Contact-us{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1zAmRxMVFQhUPv9jBjVHJPnWfJMjiB78dQfY__h4pE7o/edit{% endblock
meta_copydoc %}

{% block content %}

<section class="p-strip--whitesuru is-shallow u-no-padding--bottom">
  <div class="p-section">
    <div class="row--25-75">
      <div class="col"></div>
      <div class="col">
        <h1 class="u-no-margin--bottom">Thank you for contacting us about MicroK8s</h1>
        <p class="p-heading--2">A member of our team will be in touch<br class="u-hide--small" /> within one working
          day.
        </p>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="row--25-75">
      <div class="col"></div>
      <div class="col">
        <hr class="p-rule" />
        <h2>Learn more about our enterprise services.</h2>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="row--25-75">
      <div class="col"></div>
      <div class="col">
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h5>Ubuntu Pro</h5>
            <p>The most comprehensive subscription for open-source software security.</p>
            <p><a href="https://buy.ubuntu.com">Get Ubuntu Pro&nbsp;&rsaquo;</a></p>
          </div>

          <div class="col-3 col-medium-2">
            <h5>OpenStack</h5>
            <p>Enterprise cloud platform engineered for price-performance</p>
            <p><a href="/openstack">Learn more about Canonical OpenStack&nbsp;&rsaquo;</a></p>
          </div>

          <div class="col-3 col-medium-2">
            <h5>Kubernetes on Ubuntu</h5>
            <p>Get pure upstream Kubernetes tested across the widest range of clouds — from public clouds to private
              data centres, from bare metal to virtualised infrastructure.</p>
            <p><a href="/kubernetes">Learn about Canonical Kubernetes&nbsp;&rsaquo;</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}