---
layout: base
---
<div class="l-docs">
  <aside class="l-docs-sidebar" id="navigation">
    <div class="p-sidebar__banner u-hide--medium u-hide--large">
      <i class="p-sidebar__toggle p-icon--menu"></i>
    </div>
    <div class="p-sidebar__content u-hide--small">
      <!--
            This navigation is edited manually.
            Please update it whenever you add, remove or move a document,
            and check and update it whenever you get the opportunity.
          -->
      <nav class="p-sidebar-nav">
        <ul class="p-sidebar-nav__list" id="docs-list-unsorted">
          <li class="p-sidebar-nav__item">
            <strong>Docs</strong>
            <ul class="p-sidebar-nav__list" id="docs-list-unsorted">
              <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/docs/">User Guide</a></li>
              <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/docs/ports">Services and ports used</a></li>
              <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/docs/working">Working with registries</a></li>
              <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/docs/clustering">Multi-node cluster</a></li>
              <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/docs/release-channels">Release channels
                  and upgrades</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <script>
        // Toggle mobile sidebar nav
        var toggle = document.querySelector('.p-sidebar__toggle');
        var sidebarContent = document.querySelector('.p-sidebar__content');

        toggle.addEventListener('click', function (e) {
          toggle.classList.toggle('p-icon--menu');
          toggle.classList.toggle('p-icon--close');
          sidebarContent.classList.toggle('u-hide--small');
        });

        // Add active class to sidebar nav
        var navLinks = document.querySelectorAll('.p-sidebar-nav__item > .p-link--soft');
        navLinks.forEach(function (link) {
          if (link.getAttribute("href") === window.location.pathname) {
            link.className += " is-active";
          }
        });
      </script>
    </div>
  </aside>

  <main class="l-docs-content" id="main-content">
    <div class="p-strip is-shallow">
      <div class="l-docs-row">
        {{ content }}
      </div>
    </div>
    <footer class="p-footer" role="contentinfo">
      <div class="l-docs-row u-no-margin--left">
        <div class="col-12">
          <p>&copy; 2019 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
          <nav>
            <ul class="p-inline-list--middot">
              <li class="p-inline-list__item">
                <a href="https://www.ubuntu.com/legal" class="p-link--external">Legal info</a>
              </li>
              <li class="p-inline-list__item">
                <a href="https://github.com/canonical-websites/microk8s.io/issues/new" class="p-link--external">Report
                  a bug with this site</a>
              </li>
            </ul>
            <span class="u-off-screen">
              <a href="#">Go to the top of the page</a>
            </span>
          </nav>
        </div>
      </div>
    </footer>
  </main>
</div>
