<a class="github-button" data-size="large" href="https://github.com/ubuntu/microk8s" aria-label="Follow @ubuntu on GitHub"></a>
<a class="github-button" data-size="large" href="https://github.com/ubuntu/microk8s" data-icon="octicon-star" data-show-count="true" aria-label="Star ubuntu/microk8s on GitHub"></a>
<a class="github-button" data-size="large" href="https://github.com/ubuntu/microk8s/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork ubuntu/microk8s on GitHub"></a>
<a target="_blank" href="http://twitter.com/share?url=https://microk8s.io&text=%23microk8s+is+the+easiest+way+to+Kubernetes.&hashtags=kubernetes+%23k8s&via=ubuntu"><i class="p-icon--twitter" style="margin-left: 1rem;"></i></a>
