<header id="navigation" class="p-navigation">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo u-vertically-center">
        <a class="p-navigation__link" href="/" style="color:white">
          MicroK8s
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav">
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__links" role="menu">
        <li class="p-navigation__link " role="menuitem">
          <a href="/docs/">Docs</a>
        </li>
        <li class="p-navigation__link" role="menuitem">
          <a class="p-link--external" href="https://discuss.kubernetes.io/tags/microk8s">Discourse</a>
        </li>
        <li class="p-navigation__link" role="menuitem">
          <a class="p-link--external" href="https://github.com/ubuntu/microk8s">Code</a>
        </li>
        <li class="p-navigation__link" role="menuitem">
          <a class="p-link--external" href="https://github.com/ubuntu/microk8s/issues">Bugs</a>
        </li>
      </ul>
      <ul class="p-navigation__links u-hide--small u-hide--medium" role="menu">
        <li class="p-navigation__link social-button" role="menuitem"><a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-size="large" data-hashtags="microk8s">Tweet</a></li>
        <li class="p-navigation__link social-button" role="menuitem">
          <a class="github-button" data-size="large" href="https://github.com/ubuntu/microk8s" aria-label="Follow @ubuntu on GitHub"></a>
          <a class="github-button" data-size="large" href="https://github.com/ubuntu/microk8s" data-icon="octicon-star" data-show-count="true" aria-label="Star ubuntu/microk8s on GitHub"></a>
          <a class="github-button" data-size="large" href="https://github.com/ubuntu/microk8s/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork ubuntu/microk8s on GitHub"></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
